@import "meeta-admin-mixins.scss";

input.meeta-input {
  height: 28px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 100%;
  outline: 0;
  box-shadow: 0;
  cursor: pointer;
  &:focus, &:hover, &:active {
    outline: 0;
    box-shadow: 0;
  }
  font: {
    family: 'vision-regular';
    size: 12px;
  }
  background: transparent;
  border: 0px;
  @include meeta-animate(300ms); 
  &.dark {
    border-bottom: 1px solid $color-5;
    color: rgba($white, 0.5);
    &:focus, &:active {
      border-bottom: 1px solid $color-4;
    }
  }
}