@import "meeta-admin-mixins.scss";

body {
  background: $color-5;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
} 

a {
  text-decoration: underline;
  cursor: pointer;
}

.meeta-body-wrapper {
  width: 1024px;
  height: 100vh;
  position: relative;
  display: block;
  margin: 0 auto;
  background: linear-gradient(135deg, $color-3 0%, $color-2 100%);
} 
 
.meeta-wrapper-center {
  @include meeta-col;
  height: 100%;
}

.meeta-logo {
  font: {
    family: 'factory';
    size: 96px;
  }
  color: $color-7;
  span.highlight {
    color: $color-5;
  }
  &.page {
    position: absolute;
    top: 10px;
    left: 32px;
    font-size: 48px;
  }
}

.meeta-logo-after {
  display: inline-block;
  margin-top: 10px;
  font: {
    family: 'vision-light-italic';
    size: 13px;
  }
  color: $color-6;
  margin-top: -15px;
  width: 217px;
  text-align: right;
}

.meeta-wrapper {
  &.login {
    margin-top: 40px;
  }
  @include meeta-shadow(0.25);
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2px;
  &.title {
    &.lg {
      padding-top: calc(48px + 24px);
    }
    &.sm {
      padding-top: calc(24px + 24px);
    }
  }
  &.dark {
    border: 1px solid $color-5;
    background-color: rgba($pure-black, 0.25);
    h1.meeta-h1 {
      background: linear-gradient(135deg, $color-4 0%, $color-5 100%);
      color: $color-7;
    }
  }
  &.main {
    border-width: 0;
    background-color: rgba($pure-black, 0.25);
    box-shadow: 0;
    h1.meeta-h1 {
      background: white;
      color: $color-3;
      span.meeta-linkeable {
        color: $color-3;
        &:hover {
          border: 1px solid rgba($color-3, 0.25);
          background: $color-3;
          color: $white;
        }
      }
    }
  }
}

h1.meeta-h1 {
  position: absolute;
  top: 0px;
  left: 0px;
  @include meeta-row;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  font: {
    family: 'vision-light';
    size: 18px;
  }
  text: {
    transform: uppercase;
  }
  &.lg {
    height: 48px;
  }
  &.sm {
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
}

span.meeta-note{
  font: {
    family: 'vision-thin-italic'; 
    size: 12px;
  }
  text-align: center;
  display: block;
  color: $color-7;
  i {
    font-size: 14px;
    padding-right: 5px;
    display: inline-block;
  }
  a {
    color: white;
    text-decoration: underline;
    font-family: 'vision-light-italic';
    &:focus, &:active, &:hover, &.visiet {
      color: white;
    }
  }
}

.meeta-page > .meeta-wrapper{
  height: 80vh;
}

nav.meeta-main-menu {
  .meeta-element-container {
    margin-top: -1px;
    &:first-of-type {
      margin-top: 0px;
    }
  }
}

.meeta-wrapper-col {
  @include meeta-col;
  justify-content: flex-start;
  height: calc(100vh - 188px);
  .meeta-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 40px;
    padding-right: 10px;
    box-sizing: content-box;
    .meeta-wrapper {
      border: 0 ;
      box-shadow: none;
    }
  }
}