@import "meeta-admin-mixins.scss";

form.meeta-form {
  label.meeta-label {
    font: {
      family: 'vision-bold';
      size: 12px;
    }
    text-transform: uppercase;
    &.dark {
      color: $color-7;
    } 
  }

  .meeta-row {
    .meeta-element-container {
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: auto;
      @include meeta-col;
      align-items: flex-start;
      &:first-of-type {
        margin-left: 0px;
      }
      &:last-of-type {
        margin-right: 0px;
      } 
    }
    &.first-of-type {
      .meeta-element-container {
        margin-top: 0px;
      }
    }
    &.last-of-type {
      .meeta-element-container {
        margin-bottom: 0px;
      }
    }
  }

  
  .meeta-col {
    
    .meeta-element-container {
      margin: 10px;
      @include meeta-col;
      align-items: flex-start;
    }
    .meeta-element-container {
      margin-left: 0px;
      &:first-of-type {
        margin-top: 0px;
      }
      &:last-of-type {
        margin-bottom: 0px;
      } 
    }
  } 

  span.meeta-sub {
    background-color: $white;
    color: $color-3;
    font: {
      family: 'vision-light';
      size: 12px;
    }
    text: {
      align: left;
    }
    padding: 3px 12px 3px 6px;
    border-radius: 0px 20px 20px 0px;
    line-height: 20px;
  }

}
