@import "meeta-admin-mixins.scss";

.meeta-wrapper-notification {
  width: 200px;
  position: absolute;
  right: 52px;
  top: 24px;
  @include meeta-col;
  align-items: flex-start;
  z-index: 10;
}

.meeta-notification {
  width: 200px;
  height: auto;
  padding: 30px 10px 10px 10px;
  @include meeta-shadow(0.5);
  box-sizing: content-box;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  @include meeta-col;
  h2.meeta-notification-h2 {
    font-family: 'vision-light';
    font-size: 12px;
    color: $white;
    background: $black;
    position: absolute;
    top: 0px;
    left: 0px;
    @include meeta-row;
    justify-content: flex-start;
    height: 20px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  p.meeta-notification-p {
    color: $white;
    font-family: 'vision-regular';
    font-size: 10px;
    display: block;
    text-align: center;
  }
  .fa-times-circle {
    color: $white;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 3px;
  }
  &.failed {
    background-color: lighten($failed, 10%);
    h2.meeta-notification-h2{
      background-color: $failed;
    }
  }
  &.success {
    background-color: lighten($success, 10%);
    h2.meeta-notification-h2{
      background-color: $success;
    }
  }
  &.warning {
    background-color: lighten($warning, 10%);
    h2.meeta-notification-h2{
      background-color: $warning;
    }
  }
  &.dialog {
    background-color: lighten($color-3, 10%);
    h2.meeta-notification-h2{
      background-color: $color-3;
    }
  }
}