@import "meeta-admin-mixins.scss";

input.meeta-input-file {
  width: 300px;
  height: 300px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 0px;
  background: transparent;
  border: 0;
  box-shadow: 0;
  outline: 0;
  opacity: 0;
  z-index: 12;
}